/* background */
.banner {
    z-index: 1;
    background-image: url("../images/banner.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 14rem;
    background-position:55%;

    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(21, 73, 149, 0.8);
        z-index: 2;
    }

    // @include mq (Screen2 , max) {
    //     padding-top:25rem;
    //     }
}

.welcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    position: relative;
    z-index: 999;

    @include mq(tablet-wide, min) {
        flex-wrap: nowrap;

    }

    @include mq(Screen3, min) {
        flex-wrap: nowrap;
    }


}



.trainer {
    margin: 0;

    img {
        display: block;
        width: 33rem;
    }

 
    @include mq(tablet, max) {
        align-items: center;

        img {
            display: none;
        }
    }

}

.intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFF;
    flex-direction: column;
    z-index: 15;
    position: relative;

    h2 {
        font-weight: 700;
        font-size: 3em;
        padding-bottom: 1rem;
        margin: 0;
    }

    span {
        color: orange;
    }

    p {
        width: 40em;
    }

    @include mq(tablet, max) {
        align-items: center;
        text-align: center;

        h2 {
            // padding: 5rem 0.3rem 1rem 0.2rem;
            font-size: 2.5em;
        }

        p {
            width: 30em;
        }

    }
    @include mq(phone-wide, max) {
    

        p {
            width: 25em;
        }
    }


    
}


/* ABOUT PAGE */

.banner-about {
    z-index: 1;
    background-image: linear-gradient(rgba(34, 90, 167, 0.9), rgba(34, 90, 167, 0.9)), url("../images/banner2.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20rem;
    background-position:70%;

   .welcoming-about {
       display:flex;
       justify-content: center;
       align-items: center;

       .intro-about {
           justify-content: center;
           align-items: center;
           position:relative;
           top:-7rem;

           h3 {
               color:#FFF;
               text-transform:none;
               margin:0;
               padding-bottom:1rem;

               @include mq( tablet,max) {
                   font-size:1.4em;
                   text-align: center;
               }
               
           }

           p {
               text-align: center;
               color:rgb(212, 212, 212);
               font-size:1.3em;

               @include mq( tablet,max) {
                font-size:1.1em;
            }
           }
       }
   }
}
/* */

/* RESPONSIVE */
//     R   *RESPONSIVE*
//     E   *RESPONSIVE*
//     S   *RESPONSIVE*
//     P   *RESPONSIVE*
//     O   *RESPONSIVE*
//     N   *RESPONSIVE*
//     S   *RESPONSIVE*
//     I   *RESPONSIVE*
//     V   *RESPONSIVE*
//     E   *RESPONSIVE*


@media screen and (max-width: 972px) {
    #nav-main-toggle:checked + .site-header + .banner {
        padding-top: 30rem;
        transition: padding 0.5s ease;
    }

    #nav-main-toggle:checked + .site-header + .banner + .welcoming + .trainer + .intro h2{
        padding: 5rem .3rem 1rem .2rem;

    }
}

@media screen and (min-width:767px) {

    .welcoming{
        flex-wrap:nowrap;
    }
    .trainer {
        margin: 0;
    
        img {
            display: block;
            width: 22rem;
        }
    }

    .intro {

        h2{
            font-size:2.2em;
            margin:0 auto;
        }

        p {
            width:30rem;
            text-align:center;
        }

        .button {
            margin:0 auto;
        }
    }
    
}


@media screen and (min-width:972px) {

    .welcoming{
        flex-wrap:wrap;
    }
    .trainer {
        margin: 0;
    
        img {
            display: block;
            width: 30rem;
        }
    }

    .intro {

        h2{
            font-size:2.5em;
            
        }

        p {
            width:30rem;
            text-align: left;
        }

        .button {
            margin:0;
        }
    }
 }

 @media screen and (min-width:1260px) { 

    .trainer {
        margin: 0;
    
        img {
            display: block;
            width: 40rem;
        }
    }

    .intro {

        h2{
            font-size:3em;
            
        }

        p {
            width:40rem;
            text-align: left;
        }

        .button {
            margin:0;
        }
    }

 }