/* background */
.banner {
    z-index: 1;
    background-image: url("../images/banner.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12rem;
  

    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(21, 73, 149, 0.8);
        z-index:2;
    }


    // @include mq (Screen2 , max) {
    //     padding-top:25rem;
    //     }
}

.welcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    position: relative;
    z-index: 999;
}

.trainer {
    margin: 0;
  

    img {
        display: block;
        width: 33rem;
    }
}

.intro {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFF;
    flex-direction: column;
    width: 50rem;
    z-index: 15;
    position: relative;
    

    h2 {
        font-weight: 700;
        font-size: 3rem;
        padding-bottom: 1rem;
        margin: 0;
    }

    span {
        color: orange;
    }

    p {
        width: 40rem;
    }

}


@media screen and (max-width:972px) {

    #nav-main-toggle:checked + .site-header + .banner {
        padding-top:30rem;
    }

}