.button {
    border: 1px solid #fff;
    border-radius: 0.2rem;
    padding: 1rem 2.5rem;
    outline: none;
    background: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    transition:background 0.2s ease-in, color 0.2s ease-in;

    &:hover {
        animation: pop 0.3s 1 ease-in forwards;
        background: #FFF;
        color: #337ab7;
    }
}


@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
        
    }

    100% {
        transform: scale(1);
    }
}
