.button {
    border: 1px solid #fff;
    border-radius: 0.2rem;
    padding: 1rem 2.5rem;
    outline: none;
    background: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    transition:background 0.2s ease-in, color 0.2s ease-in;

    &:hover {
        animation: pop 0.3s 1 ease-in forwards;
        background: #FFF;
        color: #337ab7;
    }
}

.button-claim {
    background:rgb(245, 171, 53);
    border-bottom:3px solid rgba(110, 110, 110, 0.7);
    border-radius:0.3rem;
    padding: 1.2rem 3.5rem;
    outline: none;
    background: none;
    color: #FFF;
    font-weight: 400;
    font-size:1.4rem;

    &:hover {
        animation: pop 0.3s 1 ease-in forwards;
        color:#fff;
     
      
    }
}

// @media screen and (min-width:768px) {
//     .button-claim {
//         padding:1.2rem 1.5rem;
//     }
// }

// @media screen and (min-width:1080px) { 
//     .button-claim {
//         padding:1.2rem 2rem;
//     }
// }
// @media screen and (min-width:1300px) { 
//     .button-claim {
//         padding:1.2rem 2.5rem;
//     }
// }