section.login {
    padding-top: 15rem;
 
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(228, 227, 227);
    overflow: hidden;
    flex-direction: column;

    background-color: #2e6ca7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b8b8b8' fill-opacity='0.69' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

    h4 {
        margin: 0;
        padding:2.5rem;
        text-shadow:1px 1px 5px black;
    }

    label {
        display:block;
        padding:0.5rem 0;
    }


    input#username , 
    input#password {
        width:100%;
        padding:1rem 1.5rem;
    }
    form {

        color:#FFF;
        box-shadow:0 0 3rem 0 black;
        .site-branding {
            display: block;
            padding: 1rem 0 1rem 0;
            margin: 0;
            background: rgb(39, 95, 172);
            
        }


        #remember-check {
            margin-top:0.5rem;
        }
    }

    .buttons {
        padding:2rem;
        display:flex;
        justify-content: center;
        
        input ,a {
            width:100%;
            text-align: center;
            margin:0.5rem;

        }


        
    input:focus {
        border:1px solid black;
    }
        .submit , .button-claim {
            background:rgb(39, 95, 172);
        }
    }


}

fieldset {
    text-align: center;
    border:none; 
    background:#f0932b;
}

.field {
    padding:2rem;
    padding-top:0;
    text-align: left;
}

.motives {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-top:2rem;
    color:#FFF;

    @include mq(phablet ,max) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top:0;
    }
  
    p {
        margin:0;
        padding:1rem;
    }

    article {
        h4 {
            margin:0;
            padding:2rem 0 0.5rem 0;
        }
    }
    article:nth-child(1) {
        background:linear-gradient(rgba(86, 201, 186,0.8), rgba(86, 201, 186,0.6)),url('../images/login1.jpg');
        background-size:cover;
        background-position: 10% 85%;

      
    }
    article:nth-child(2) {
        background:linear-gradient(rgba(255, 99, 72,0.8), rgba(255, 99, 72,0.6) ),url('../images/login2.jpg');
        background-size:cover;
        background-position: 10% 55%;

   
    }
}



/* REGISTER PAGE */


.register{
    padding-top:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#FFF;


    background-color: #2e6ca7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b8b8b8' fill-opacity='0.69' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

    h4 {
        margin:0;
        padding:1.5rem 0;
    }

    form {
        text-align: center;
        box-shadow:0 0 3rem 0 black;
        border-radius:0.2rem;
        

        .site-branding {
            display: block;
            padding: 1rem 0 1rem 0;
            margin: 0;
            background: rgb(39, 95, 172);
            
        }
    }

    label {
        font-weight:bold;
    }
    #username {
        width:100%;
        padding:1rem 1.5rem;
    }
    .field-register{
        
        padding:3rem;
        padding-top:0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color:#FFF;
       
        text-align: left;

        
    .button {
        display:flex;
        justify-content: center;
        margin-top:1rem;
    }
    }
    .register-input{
        display:flex;
        justify-content: space-between;
        text-align: left;

        @include mq(phone-wide , max) {
            display:block;
        }
        label {
            display:block;
            margin:0.5rem;
           
        }

        input{
            padding:1rem 1.5rem;
            @include mq(phone-wide , max) {
                width:100%;
            }
            justify-content: space-between;
          
        }

        
    }
}

