.navigation {


    ul {
        display:flex;
        margin:0;
        padding:0;
       
    }

    li {
        list-style:none outside;
        padding:1rem;
        padding-bottom:0;
        position:relative;
        z-index: 1000;

        &:before {
            content: '';
            background:transparent;
            position:absolute;
            top:0;left:0;
            width:0;
            height:120%;
            border-bottom:2px solid orange;
            transition:width 0.2s ease-in;
            z-index:1;
      
        }
        &:hover:before {
        width:100%;
        z-index:-1;
        }
        
        a{
            color:#fff;
            font-weight:400;
            text-transform: uppercase;
         
        }
    }
}