
/* VIDEO  SECTION */

.video {
    display: flex;
    padding: 2rem 10rem;

    

    .left-side,
    .right-side {
        padding: 2rem;
        flex-basis: 50%;
        justify-content: center;
    }

    .left-side {
        p {
            padding-bottom: 2.5em;
            color: gray;
            flex-basis: 25%;
        }

        .right-side {
            margin: 1 0 auto;
        }
    }
}

// RESPONSIVE 
// RESPONSIVE 
// RESPONSIVE 
// RESPONSIVE 
// RESPONSIVE


/* VIDEO SECTION RESPONSIVE CODE */
@media screen and (max-width: 1200px) {
  .video {
      flex-direction: column;
      
  }
}

@media screen and (max-width: 1000px) {
    .video {
        flex-wrap: wrap;
        padding:2rem 10rem;

        .left-side {
            padding: 2rem;
            flex-basis: 100%;
            h3{
                text-align: center;
            }
        }

        .right-side {
            flex-basis: 100%;
        }
    }
}
@media screen and (max-width: 650px) { 
    .video {
        flex-wrap: wrap;
        padding:2rem 2rem;
    }
}

@media screen and (max-width: 550px) {
    .video {
        flex-wrap: wrap;
        padding:2rem 5rem;

        .left-side{
            padding:2rem 0;
        }

    }
}

@media screen and (max-width: 600px) {
    .video {
        flex-wrap: wrap;
        padding:2rem 0rem;

        .left-side{
            padding:2rem 2rem;
        }

        .right-side{
            padding:0;
        }

    }
}

/*   */





.join {
    background: linear-gradient(rgba(34, 90, 167, 0.9), rgba(34, 90, 167, 0.9)), url("../images/learn.jpg");
    background-size: cover;
    background-position: 0 45%;
    padding-top: 1rem;
    z-index: 1;
    color: #FFF;
    margin: 0 8.5rem;
    display:flex;
    align-items: center;
    padding:3rem;
    
    @include mq (tablet , max) {

        flex-direction: column;
        margin:0;
    }

    h3, p{
        padding:0; 
        margin:0;
    }

    h3{
        font-weight:700;
        text-transform: none;
        padding-bottom:0.5rem;
    }

    p{
        font-size:1.2em;
    }

    form{
        flex-grow:1;
    }

    .text {
        flex-grow:1;
    }

   .form form {
       display:flex;
       flex-wrap:wrap;

       @include mq (tablet , max) {

    
    }



   }
 
  
}

@media screen and (max-width:1200px) {

    .join {
        flex-direction: column;
       
    }
    .text p,
    .text h3 {
        text-align: center;
    }
    .form form {
        margin-top:1rem;
    }

}