body.home,
body.about,
body.sports,
body.login,
body.register {
    .site-header {
        position: absolute;
        width: 100%;
        z-index: 5;
        background:transparent;
        transition:background 0.4s ease-in-out;
    
       
    }
}


.site-header {
    position: absolute;
    width: 100%;
    top:0; left:0;
    z-index: 5;
    background:rgb(39, 95, 172);
    transition:background 0.4s ease-in-out;

   
}

@media screen and (max-width: 972px) {
    #nav-main-toggle:checked + .site-header{
        background: #273c75;
    }

}

.sticky {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
    flex-wrap:wrap;
     
    @include mq( desktop , max) {
        padding:2rem 1rem;
    }

    
    @include mq (Screen2 , max) {
    flex-direction: column;
      padding:2rem 10rem;
      align-items: flex-start;
      
    }

    @include mq( phablet , max) {
        padding:2rem 1rem;
    }
}

.site-branding {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.site-title,
.site-description {
    color: #fff;
}

.logo {
    margin-right: 0.5rem;
}

.site-title {
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: 'Open Sans' , serif;
}

.site-description {
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 0.155rem;
    font-size: 0.8rem;
}
