body.sports {
    .site-footer {
        .upper-footer{
            margin-top:0;
        }
    }
}


.site-footer {
   
    width: 100%;
    overflow: hidden;
 
    bottom:0;

    .upper-footer {
        background: rgb(15, 78, 163);
        display: flex;
        align-items: center;
        margin-top: 4rem;
        padding: 0rem 10rem;
        flex-wrap: wrap;

        @include mq(tablet-wide, max) {
            padding: 0;
        }


        @include mq(phablet, max) {
            flex-direction: column;
        }


        .site-branding {
            background: rgb(0, 58, 143);
            padding: 4rem;
            justify-content: center;

            @include mq(tablet-wide, max) {
                width: 100vw;
            }
        }

        .links {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            @include mq(tablet, max) {
                padding: 2rem;
            }


            @include mq(phone-wide, max) {
                flex-direction: column;
                padding: 2rem 0;
            }


            ul {
                list-style-type: none;
                margin: 0 1.5rem;
                padding: 0rem;

                @include mq(phone-wide, max) {
                    margin: 1rem 1.5rem;
                }
            }

            li {
                padding: 0.5rem 0;

                a {
                    text-transform: uppercase;
                    color: rgb(199, 199, 199);

                    &:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }

            li:first-of-type a {
                color: #FFF;
                font-weight: 500;
            }

            .media {
                display: flex;
                justify-content: center;

                a {
                    color: #FFF;
                    margin: 0 0.5rem;

                    &:hover {
                        color: rgb(161, 175, 238);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .site-footer .upper-footer {
        flex-wrap: nowrap;
    }

    .site-footer .upper-footer .site-branding {
        width: 35vw;
    }
}

@media screen and (min-width: 1000px) {
    .site-footer .upper-footer {
        padding: 0 6rem;
    }

    .site-footer .upper-footer .site-branding {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .site-footer .upper-footer {
        padding: 0 10rem;
    }
}

@media screen and (min-width: 1500px) {
    .site-footer .upper-footer .links ul {
        padding: 0 1.5rem;
        flex-wrap: nowrap;
    }
}

.bottom-footer {
    background: rgb(0, 48, 133);
    text-align: center;
    color: rgb(190, 190, 190);

    p {
        padding: 1.5rem 0;
        font-size: 0.8rem;
    }
}
