.faith {
    text-align: center;

    h3 {
        margin: 2.5em 0 1em 0;
        color: rgb(75, 75, 75);
    }

    .faith-description {
        width: 50%;
        margin: 0 auto;

        @include mq(phablet, max) {
            width: 70%;
        }
    }

    p {
        color: rgb(134, 134, 134);
    }
}

.brags {
    display: flex;
    justify-content: center;
    padding: 2rem 8rem 4rem 8rem;

    @include mq(tablet, max) {
        flex-wrap: wrap;
    }


    @include mq(phone, max) {
        padding: 2rem 2rem 4rem 2rem;
    }


    h5 {
        margin: 0;
        padding: 1rem 0;
    }

    i {
        font-size: 5rem;
        color: rgb(15, 78, 163);
    }

    article {
        margin: 0 1.5rem;
    }
}

.more {
    background: linear-gradient(rgba(34, 90, 167, 0.9), rgba(34, 90, 167, 0.9)), url("../images/learn.jpg");
    background-size: cover;
    background-position: 0 45%;
    padding-top: 1rem;
    z-index: 1;
    color: #FFF;
    margin: 0 15rem;

    @include mq(tablet, max) {
        margin: 0;

        i {
            display: none;
        }
    }


    i {
        font-size: 5rem;
        padding: 0.5rem;
    }

    .learn-more {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        justify-content: flex-start;
        overflow: hidden;

        @include mq(tablet, max) {
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
        }
    }
}

.claims {
    justify-self: flex-start;
    padding: 2.5rem 5rem 1rem 0rem;

    @include mq(tablet, max) {
        padding: 0;
    }


    h3 {
        @extend %reset;

        font-weight: 500;
    }

    p {
        letter-spacing: 4px;
        font-size: 1.2em;

        @include mq(phablet, max) {
            letter-spacing: 0px;
        }
    }

    .button {
        background: rgb(245, 171, 53);
        border: 1px solid rgb(225, 151, 33);
        border-radius: 0.3rem;
    }
}

@media screen and (min-width: 767px) {
    .more .learn-more {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .more {
        margin: 0 8rem;
    }

    i {
        padding: 0.5rem;
    }

    .claims {
        padding: 0.5rem 0rem 1rem 0;
        text-align: center;

        p {
            letter-spacing: 5px;
        }
    }
}

@media screen and (min-width: 850px) {
    .claims {
        padding: 2.5rem 2.5rem 1rem 1rem;

        i {
            font-size: 0rem;
        }

        .more {
            margin: 0 8rem;
        }
    }
}

@media screen and (min-width: 1000px) {
    .more .learn-more {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .more {
        margin: 0 10rem;
    }

    .claims {
        padding: 2.5rem 2.5rem 1rem 1rem;
        text-align: left;
    }
}

/* ABOUT PAGE */

.information {
    background: #fff;
    display: flex;
    margin: 0 15rem;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -5.5rem;
    z-index: 500;
    box-shadow: 0px 7px 15px -7px rgba(0, 0, 0, 0.75);

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0;
            padding: 0;
        }

        .number {
            font-size: 2.5rem;
            font-weight: 700;
        }

        .info {
            font-size: 1.2rem;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 1220px) {
    .information {
        margin: 0 10rem;
    }
}

@media screen and (max-width: 1110px) {
    .information {
        margin: 0 7rem;
    }
}

@media screen and (max-width: 1000px) {
    .information {
        margin: 0 5rem;
    }
}

@media screen and (max-width: 930px) {
    .information {
        margin: 0 3rem;
        padding: 3rem 0;
    }
}

@media screen and (max-width: 815px) {
    .information {
        flex-direction: column;
        margin: 0;

        div {
            padding: 1.5rem 0;
        }
    }
}

@media screen and (max-width: 972px) {
    #nav-main-toggle:checked + .site-header + .banner-about {
        padding-top: 45rem;
        transition: padding 0.5s ease;
    }
}

@media screen and (min-width: 300px) {
    #nav-main-toggle:checked + .site-header + .banner-about + .information {
        margin: 0;
        top: -5rem;
        transition: top 1.5s ease-in;
    }
}

@media screen and (min-width: 440px) {
    #nav-main-toggle:checked + .site-header + .banner-about + .information {
        margin: 0;
        top: -4rem;
        transition: top 1.5s ease-in;
    }
}

/* ABOUT-US SECTION */

.about-us {
    position: relative;
    z-index: 5;
    padding: 0 8rem 2rem 8rem;
    box-shadow: 0px 23px 82px 37px rgba(255, 255, 255, 1);

    h3 {
        text-align: center;
        padding-bottom: 1em;
        margin: 0;
        padding: 1em;
    }

    .faith-description {
        color: rgb(121, 121, 121);
        padding: 0 7rem 2.5rem 7rem;
    }

    i {
        color: rgb(246, 178, 69);
        font-size: 2.5rem;
        width: 1rem;
        margin-right: 4rem;
    }

    .about-brags {
        display: flex;
        justify-content: space-evenly;

        h5 {
            margin: 0;
            padding: 0;
            padding-bottom: 0.5em;
            font-weight: 400;
            text-transform: none;
            font-size: 1.2em;
        }

        article {
            flex-basis: 40%;
            justify-content: center;

            p {
                color: rgb(121, 121, 121);
            }

            .align {
                display: flex;
                flex-grow: 1;
                margin: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 975px) {
    .about-us {
        padding: 0 4rem;

        .faith-description {
            color: rgb(121, 121, 121);
            padding: 0 0rem 2.5rem 0rem;
        }

        .about-brags article {
            flex-basis: 50%;
        }
    }
}

@media screen and (max-width: 650px) {
    .about-us {
        .about-brags {
            flex-direction: column;
        }
    }
}

/*  */

/* ABOUT-PHOTO*/

.about-photo {
    background: url("../images/about-page.jpg");
    background-size: cover;
    padding-top: 45rem;
    background-position: 20%;
    position: relative;
    z-index: 2;
}

/*  */

/* ABOUT - TESTIMONIAL SECTION*/
.testimonials {
    padding: 0rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p:first-of-type {
        text-align: center;
        color: rgb(121, 121, 121);

        &:before {
            display: block;
            content: '“';
            font-size: 10rem;
            padding: 0;
            margin: 0;
            color: rgb(121, 121, 121);
            height: 10rem;
        }

        &:after {
            display: block;
            margin: 2rem auto 1.5rem auto;
            width: 5rem;
            height: 0.15rem;
            content: '';
            background: rgb(121, 121, 121);
        }
    }

    .student-name,
    .student-sport {
        margin: 0;
        padding: 0;
    }

    .student-name {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        padding-bottom: 0.5rem;
    }

    .student-sport {
        font-size: 1.2rem;
        color: rgb(121, 121, 121);
        padding-bottom: 3.5rem;
    }

    img {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        margin: 0 2rem;

        &:hover {
            border: 3px solid #FFF;
            border-radius: 50%;
            box-shadow: 0 0 2rem 0 #000;
        }
    }

    input[type="radio"] {
        display: none;
    }

    .panel {
        display: none;
    }

    input[type="radio"]:checked + .panel {
        display: block;
    }
    
    .students {
        padding-bottom: 4rem;
    }

    .swimming, .basketball, .tennis {
        text-align: center;
    }

    .swimming-student, .tennis-student {
        display: none;
    }

}

// #basketball:checked + .about-photo + .testimonials{
    
//         .basketball-student {
//             display: block;
//         }

//         .swimming-student, .tennis-student {
//             display: none;
//         }
    
// }

/* */

/* */



.teachers {
    padding-top:25%;
    color:black;
    grid-gap:1.3rem;
    display:grid;
    grid-template-columns: (repeat(3) ,2fr);
    grid-template-rows: (repeat(2), 2fr);

        & > div {
            background:black;
        }
}