
/* TEACHERS */
.teachers {
    display:block;
}
section.teachers {
    padding:5rem;
    display:grid;
    grid-template-columns:20rem 20rem 20rem;
    grid-template-rows: 20rem 20rem;
   
    justify-content: center;
    padding-top:15rem;
    grid-gap:5rem;
    overflow: hidden;

    @include mq(tablet-wide , max) {
        grid-template-columns:20rem 20rem;
        
    }

    @include mq(tablet-small , max) {
        grid-template-columns:20rem;
        
    }
   
    article {
        background:#FFF;
        border:1px solid rgb(148, 148, 148);
        border-radius:0.2rem;
        padding:5rem;
        overflow: hidden;
        position:relative;
        transition:background 0.2s ease-in,box-shadow 0.1s linear;

        .button-teacher {
            border: 1px solid rgb(236, 153, 29);
            border-radius: 0.2rem;
            padding: 1rem;
            outline: none;
            background: transparent;
            color: rgb(236, 153, 29);
            font-weight: 500;
            transition:color 0.2s ease-in,border 0.2s ease-in;
        
            &:hover {
                animation: pop 0.3s 1 ease-in forwards;
            }
        }
        
        
        &:hover {
            background:rgb(237, 148, 0);
            box-shadow:0 0 2rem 0 black;

            h4 {
                color:#FFF;
                
                
                
            }

            .button-teacher {
                border: 1px solid rgb(255, 255, 255);
                border-radius: 0.2rem;
                color: rgb(255,255,255);
            }
        }
    

        .teacher-about {
            position:relative;
            top:-7%;
            right:-37%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index:2;
            
            h4{
                margin:0;
                padding:1.2rem;
                font-weight:500;
                text-align: center;
                transition: color 0.1s ease-in-out;
            }
       
           
        }
        img {
            position:absolute;
            max-width:100%;
            left:-5rem;
            top:5rem;
            z-index:1;
           
        }
       
    }
}
/* */
