---
layout: site
title: "Coachify Sport Academy enjoys strong showing at Copa Rayados Internacional"
date: 2018-11-27 19:25:31 +0200
permalink: /post3/
---

<div class="post-layout">
  <main class="post-main">


    <section class="post-image">
      <h3>Coachify Sport Academy enjoys strong showing at Copa Rayados Internacional</h3>
      <p class="date"><i class="fas fa-clock"></i> 27 Nov 2018 | <a href="#">Athletics</a></p>
      <img src="../images/post/academy-victory.jpg" alt="">


    </section>

    <p>
      Coachify Sport Academy U-13s, U-14s and U-15s enjoyed a successful Thanksgiving competing against premier
      teams from across the United States and Mexico last week at the 2018 Copa Rayados Internacional in The Woodlands,
      Texas.
    </p>
    <p>
      Coachify KC U-13s (pictured above) and U-15s earned first-place finishes in the group stage, playing twice
      each on Wednesday and Thursday at the Bear Branch Sports Fields. Both sides would fall to the eventual tournament
      champion in Saturday's semifinals, with the U-13s taking a 2-1 loss to FC Dallas and the U-15s losing a 5-4
      thriller to the San Diego Surf.
    </p>
    <p>
      The U-15s amassed 14 goals across five tournament matches and were led by Jayvin Van Deventer, who received Copa
      Rayados Internacional MVP honors at the U-15 level.
    </p>
    <p>
      Coachify KC U-14s went 1-1-2 to finish third in their respective group, placing them in the silver
      consolation bracket for the remainder of the competition. They posted a 4-0 win over Solar SC in Saturday's
      semifinals before losing the silver championship game to San Antonio FC on Sunday.


      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Opponent</th>
            <th>Result</th>
            <th>Stage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Wednesday, Nov. 21</td>
            <td>vs. Solar SC
              vs. Houston Dynamo</td>
            <td>W 1-0
              L 0-1</td>
              <td>Group
                  Group</td>
          </tr>
          <tr>
            <td>Thursday, Nov. 22</td>
            <td>vs. Chicago Fire
                vs. Queretaro FC</td>
            <td>T 1-1
                W 2-0</td>
                <td>Group
                    Group</td>
          </tr>
          <tr>
            <td>Saturday, Nov. 24</td>
            <td>vs. FC Dallas</td>
            <td>	L 1-2</td>
            <td>Semifinal</td>
          </tr>
        </tbody>
      </table>

      <p>The 2018 Winter Showcase features elite U-17 and U-19 academy clubs from across the country, spanning more than 200 matches over five days. Follow @Coachify on Twitter for live updates this weekend and throughout the 2018-19 season.</p>
  </main>

  <aside class="post-aside">

    <h4>Latest News</h4>
    <ul class="listing posts">
      {% for post in site.posts %}
      <li>
        <i class="fas fa-file-alt"></i>
        <a href="{{ site.baseurl }}{{ post.url}}">
          <span class="title">{{ post.title }}</span>
          <span class="date">{{ post.date | date_to_string }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

    <h4>Events</h4>


    <ul class="listing posts">
      {% for post in site.posts %}
      <li>
        <i class="fas fa-file-alt"></i>
        <a href="{{ site.baseurl }}{{ post.url}}">
          <span class="title">{{ post.title }}</span>
          <span class="date">{{ post.date | date_to_string }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

    <h4>Useful links</h4>

    <ul class="listing posts">
      {% for post in site.posts %}
      <li>
        <i class="fas fa-file-alt"></i>
        <a href="{{ site.baseurl }}{{ post.url}}">
          <span class="title">{{ post.title }}</span>
          <span class="date">{{ post.date | date_to_string }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

    </section>
  </aside>
</div>