<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coachify - Sport Academy</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
</head>

<body class="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">

    <div class="site">
        <input type="checkbox" name="nav-main-toggle" id="nav-main-toggle">
        <header class="site-header">
            <div class="sticky">
                <a href="{{ site.baseurl }}/" alt="Coachify">
                    <div class="site-branding">

                        <div class="logo"><img src="{{ site.baseurl }}/images/oscar.png"></div>
                        <div>
                            <div class="site-title">Coachify</div>
                            <div class="site-description">sport academy</div>
                        </div>

                    </div>
                </a>
                <label id="nav-toggle-left" for="nav-main-toggle" class="fas nav-toggle left"><span>Menu</span></label>
                <nav class="navigation">

                    <ul>
                        <li><a href="{{ site.baseurl }}/about/">About</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Timetable</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Teachers</a></li>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                    </ul>
                </nav>
            </div>




        </header>


        {{ content }}


        <footer class="site-footer">
            <section class="upper-footer">
                <a href="{{ site.baseurl }}/" alt="Coachify">

                    <div class="site-branding">
                        <div class="logo"><img src="{{ site.baseurl }}/images/oscar.png"></div>
                        <div>
                            <div class="site-title">Coachify</div>
                            <div class="site-description">sport academy</div>
                        </div>
                    </div>
                </a>
                <nav class="links">
                    <ul>
                        <li><a href="#">School</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Teachers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Excursions</a></li>
                        <li><a href="#">Gallery</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Academics</a></li>
                        <li><a href="">Timetable</a></li>
                        <li><a href="">News</a></li>
                    </ul>

                    <ul class="media">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                        <li><a href="#"><i class="fas fa-cloud"></i></a></li>
                    </ul>
                </nav>
            </section>
            <section class="bottom-footer">
                <p>Copyright 2019 | ALL RIGHTS RESERVED</p>
            </section>
        </footer>
    </div>
</body>

</html>