<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coachify - Sport Academy</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
</head>
<body class="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
    <nav>
        <ul>
            <li><a href="{{ site.baseurl }}/">index.html</a></li>
            <li><a href="{{ site.baseurl }}/about/">About.html</a></li>
        </ul>
    </nav>

    {{ content }}
</body>
</html>